In [1]:
import pandas as pd

import matplotlib.pyplot as plt

import numpy as np

data = pd.read_csv('data/international-migration-September-2022-citizenship-by-visa-by-country-of-last-permanent-residence.csv')
data

,year_month,month_of_release,passenger_type,direction,citizenship,visa,country_of_residence,estimate,standard_error,status
0,2001-12,2020-09,Long-term migrant,Arrivals,non-NZ,NZ and Australian citizens,Afghanistan,1,0,Final
1,2002-03,2020-09,Long-term migrant,Arrivals,non-NZ,NZ and Australian citizens,Afghanistan,4,0,Final
2,2020-12,2022-04,Long-term migrant,Arrivals,non-NZ,NZ and Australian citizens,Afghanistan,1,0,Final
3,2022-07,2022-09,Long-term migrant,Arrivals,non-NZ,NZ and Australian citizens,Afghanistan,0,0,Provisional
4,2001-01,2020-09,Long-term migrant,Arrivals,non-NZ,NZ and Australian citizens,Africa and the Middle East,10,0,Final
...,...,...,...,...,...,...,...,...,...,...
301356,2022-01,2022-09,Long-term migrant,Arrivals,TOTAL,Work,Zimbabwe,1,0,Provisional
301357,2022-05,2022-09,Long-term migrant,Arrivals,TOTAL,Work,Zimbabwe,1,0,Provisional
301358,2022-07,2022-09,Long-term migrant,Arrivals,TOTAL,Work,Zimbabwe,2,1,Provisional
301359,2022-08,2022-09,Long-term migrant,Arrivals,TOTAL,Work,Zimbabwe,1,0,Provisional
301360,2022-09,2022-09,Long-term migrant,Arrivals,TOTAL,Work,Zimbabwe,2,1,Provisional

In [2]:
data.describe()

            estimate  standard_error
count  301361.000000   301361.000000
mean       96.050816        0.143512
std       495.704288        2.414630
min         0.000000        0.000000
25%         2.000000        0.000000
50%         5.000000        0.000000
75%        22.000000        0.000000
max     21073.000000      373.000000

In [3]:
data.shape

(301361, 10)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301361 entries, 0 to 301360
Data columns (total 10 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   year_month            301361 non-null  object
 1   month_of_release      301361 non-null  object
 2   passenger_type        301361 non-null  object
 3   direction             301361 non-null  object
 4   citizenship           301361 non-null  object
 5   visa                  301361 non-null  object
 6   country_of_residence  301361 non-null  object
 7   estimate              301361 non-null  int64
 8   standard_error        301361 non-null  int64
 9   status                301361 non-null  object
dtypes: int64(2), object(8)
memory usage: 23.0+ MB

In [5]:
data.dtypes

year_month              object
month_of_release        object
passenger_type          object
direction               object
citizenship             object
visa                    object
country_of_residence    object
estimate                 int64
standard_error           int64
status                  object
dtype: object

In [6]:
data.columns

Index(['year_month', 'month_of_release', 'passenger_type', 'direction',
       'citizenship', 'visa', 'country_of_residence', 'estimate',
       'standard_error', 'status'],
      dtype='object')

In [13]:
data['estimate'].plot(kind='bar',cmap='winter')
plt.show()

In [ ]:
fig, ax = plt.subplots()
p = plt.get_cmap('plasma')
c=[p(i/(data.shape[1])) for i in range((data.shape[1]))]
for i, v in enumerate(df['age']):
    ax.text(i-0.25 , v+0.25 , str(v), color=c[i], fontweight='bold')
plt.bar(list(data.index),data['age'],color=c,tick_label=data.index)
plt.title('Estimated number on date')
plt.xlabel('df.index')
plt.ylabel('age') 
plt.show()

In [7]:
data.isna().sum()

year_month              0
month_of_release        0
passenger_type          0
direction               0
citizenship             0
visa                    0
country_of_residence    0
estimate                0
standard_error          0
status                  0
dtype: int64

In [8]:
data['year_month'].value_counts()

2022-09    1973
2022-08    1950
2022-07    1766
2020-01    1699
2022-06    1592
           ...
2001-04     654
2001-05     654
2020-06     639
2020-04     508
2020-05     442
Name: year_month, Length: 261, dtype: int64

In [9]:
data['month_of_release'].value_counts()

2020-09    255323
2022-09     20096
2021-05      1699
2021-06      1563
2021-03      1562
2021-04      1544
2021-02      1536
2020-12      1511
2021-07      1470
2021-01      1448
2020-11      1408
2020-10      1391
2022-08      1033
2022-02       973
2022-03       969
2022-07       959
2022-01       954
2022-04       913
2021-12       905
2022-05       884
2022-06       882
2021-11       749
2021-10       639
2021-08       508
2021-09       442
Name: month_of_release, dtype: int64

In [10]:
data['passenger_type'].value_counts()

Long-term migrant    301361
Name: passenger_type, dtype: int64

In [12]:
data['direction'].value_counts()

Arrivals    301361
Name: direction, dtype: int64

In [13]:
data['citizenship'].value_counts()

TOTAL     138029
non-NZ    120144
NZ         43188
Name: citizenship, dtype: int64

In [14]:
data['visa'].value_counts()

TOTAL                         87597
NZ and Australian citizens    50310
Visitor                       43790
Work                          36520
Student                       30330
Resident                      30082
Other                         22732
Name: visa, dtype: int64

In [15]:
data['country_of_residence'].value_counts()

TOTAL                                           3936
Europe                                          3932
Asia                                            3932
The Americas                                    3929
Oceania and Antarctica                          3918
                                                ...
United States Minor Outlying Islands               8
Mayotte                                            4
Central African Republic                           4
South Georgia and the South Sandwich Islands       4
St Pierre and Miquelon                             4
Name: country_of_residence, Length: 249, dtype: int64

In [16]:
data['estimate'].value_counts()

1       70162
2       34220
3       22103
4       16638
5       12240
        ...
1730        1
7873        1
3523        1
8767        1
2236        1
Name: estimate, Length: 3577, dtype: int64

In [17]:
data['standard_error'].value_counts()

0      291123
1        5588
2        1672
3         763
4         501
        ...
76          1
89          1
86          1
48          1
235         1
Name: standard_error, Length: 110, dtype: int64

In [18]:
data['status'].value_counts()

Final          282141
Provisional     19220
Name: status, dtype: int64