In [1]:
import pandas as pd

import matplotlib.pyplot as plt

import numpy as np

data = pd.read_csv('data/international-migration-September-2022-citizenship-by-visa-by-country-of-last-permanent-residence.csv')
data

,year_month,month_of_release,passenger_type,direction,citizenship,visa,country_of_residence,estimate,standard_error,status
0,2001-12,2020-09,Long-term migrant,Arrivals,non-NZ,NZ and Australian citizens,Afghanistan,1,0,Final
1,2002-03,2020-09,Long-term migrant,Arrivals,non-NZ,NZ and Australian citizens,Afghanistan,4,0,Final
2,2020-12,2022-04,Long-term migrant,Arrivals,non-NZ,NZ and Australian citizens,Afghanistan,1,0,Final
3,2022-07,2022-09,Long-term migrant,Arrivals,non-NZ,NZ and Australian citizens,Afghanistan,0,0,Provisional
4,2001-01,2020-09,Long-term migrant,Arrivals,non-NZ,NZ and Australian citizens,Africa and the Middle East,10,0,Final
...,...,...,...,...,...,...,...,...,...,...
301356,2022-01,2022-09,Long-term migrant,Arrivals,TOTAL,Work,Zimbabwe,1,0,Provisional
301357,2022-05,2022-09,Long-term migrant,Arrivals,TOTAL,Work,Zimbabwe,1,0,Provisional
301358,2022-07,2022-09,Long-term migrant,Arrivals,TOTAL,Work,Zimbabwe,2,1,Provisional
301359,2022-08,2022-09,Long-term migrant,Arrivals,TOTAL,Work,Zimbabwe,1,0,Provisional
301360,2022-09,2022-09,Long-term migrant,Arrivals,TOTAL,Work,Zimbabwe,2,1,Provisional

In [2]:
data.describe()

            estimate  standard_error
count  301361.000000   301361.000000
mean       96.050816        0.143512
std       495.704288        2.414630
min         0.000000        0.000000
25%         2.000000        0.000000
50%         5.000000        0.000000
75%        22.000000        0.000000
max     21073.000000      373.000000

In [3]:
data.shape

(301361, 10)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301361 entries, 0 to 301360
Data columns (total 10 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   year_month            301361 non-null  object
 1   month_of_release      301361 non-null  object
 2   passenger_type        301361 non-null  object
 3   direction             301361 non-null  object
 4   citizenship           301361 non-null  object
 5   visa                  301361 non-null  object
 6   country_of_residence  301361 non-null  object
 7   estimate              301361 non-null  int64
 8   standard_error        301361 non-null  int64
 9   status                301361 non-null  object
dtypes: int64(2), object(8)
memory usage: 23.0+ MB

In [5]:
data.dtypes

year_month              object
month_of_release        object
passenger_type          object
direction               object
citizenship             object
visa                    object
country_of_residence    object
estimate                 int64
standard_error           int64
status                  object
dtype: object

In [6]:
data.columns

Index(['year_month', 'month_of_release', 'passenger_type', 'direction',
       'citizenship', 'visa', 'country_of_residence', 'estimate',
       'standard_error', 'status'],
      dtype='object')

In [13]:
data['estimate'].plot(kind='bar',cmap='winter')
plt.show()

In [ ]:
fig, ax = plt.subplots()
p = plt.get_cmap('plasma')
c=[p(i/(data.shape[1])) for i in range((data.shape[1]))]
for i, v in enumerate(df['age']):
    ax.text(i-0.25 , v+0.25 , str(v), color=c[i], fontweight='bold')
plt.bar(list(data.index),data['age'],color=c,tick_label=data.index)
plt.title('Estimated number on date')
plt.xlabel('df.index')
plt.ylabel('age') 
plt.show()